body{
  background:#999;
}
 #timer{
  height:200px;
	width: 200px;
	border-radius: 100px;
	margin: 100px auto;
	color: white;
  border: 3px solid #000;
}

#time{
  padding: 80px 0px 0px 50px;
  display:-webkit-box;
	-webkit-box-align: center;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}
#start{
  height:70px;
	width: 70px;
  border-radius:100px;
  border:3px solid green;
  margin: -130px -80px;
  text-align:center;
  cursor: pointer;
}
#stop{
  height:70px;
	width: 70px;
  border-radius:100px;
  border:3px solid red;
  margin: 60px 200px;
  text-align:center;
  cursor: pointer;
}
.buttons{
  
  color: black;
}
.buttonTime{
  margin:80px 50px 0px -17px;
}
button{
  border-radius: 100px;
  height: 30px;
  width:30px;
  cursor: pointer;
}
#break{
  display:-webkit-box;
  margin-left:-150px;
  
}
#session{
  display:-webkit-box;
  margin-left:150px;
  margin-top:-170px;
}
p{
  text-align:center;
}
.space{
  font-size: 30px;
  margin-left:-40px;
 
  
}